$color-primary: #ffb53e;
$color-text-primary: #222222;
$color-background: #e2e2e2;
// Button
$color-button-text: white;
$color-button-background: $color-text-primary;
$color-button-hover-background: $color-primary;