$color-primary: #303133;
$color-accent: #ff5c5c;
$color-text-primary: #303133;
$color-text-regular: #606266;
$color-text-secondary: #909399;
$color-text-placeholder: #c0c4cc;
$color-button-text: white;
$color-button-background: #575757;
$color-button-disabled-background: #aeaeae;
$color-border-base: #c9c9c9;